@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos base */
html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #3b3636;
  line-height: 1.5;
  overflow-x: hidden;
}






/* Clases utilitarias */
.backgroundImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sinMarco {
  margin: 0;
  padding: 0;
  border: none;
}

.mainFont {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.219);
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}